{% extends 'layout.twig' %}
{% block title %} {{ article.title|raw }} {% endblock %}
{% block content %}
    <div class="container">
        <h1>{{ article.title }}</h1>
        <hr/>

        <p>创建时间: {{ article.create_at }} &nbsp;&nbsp;最后更新：{{ article.update_at }}</p>

        <blockquote class="flow-text">{{ article.content|raw }}</blockquote>

        <p><a data-pjax="1" href="/" class="btn">Back to the home page</a></p>
    </div>
{% endblock %}
